<section class="d-flex flex-column align-items-center justify-content-center p-5">

      <div class="alert alert-success">
        Parking slot booked successfully. Allocated parking slot no. is <b ><%= @slot_no %></b>
      </div>

      <%= link_to "Go to Bookings", "/", :class => "nav-link" %>

</section>
