<footer class="bg-light text-center text-lg-start fixed-bottom">
  <div class="text-center p-3" style="background-color: #f2f2f2">
    © 2022 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">SmartParking.in</a>
  </div>
</footer>